:host {
  display: block;
  margin-top: 1rem;
}

#postAndImage{
  border-color:rosybrown;
  border-style: dotted;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.info-text
{
  text-align: center;
  color: rebeccapurple
}
