:host {
  display: block;
  margin-top: 1rem;
}

#postAndImage{
  border-color:rosybrown;
  border-style: dotted;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

.info-text
{
  text-align: center;
  color: rebeccapurple
}


.underPhotoButtons {
  box-align: left;
  align-self: flex-start;
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 220px; /* Set a small width */
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
